body, main{
  display: flex;
}
body{
  flex-direction: column;
}
header{
  padding-bottom: 150px;
}
main{
  flex-direction: row;
  flex: auto;
  margin-top: 90px;
}
article{
  flex: 2;
  overflow-y: auto;
}
aside{
  flex: 1;
  overflow-y: auto;
 
}